<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>441196816919-9p5pj99njfrsjm9qtkbnuu94ufeic8tv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.441196816919-9p5pj99njfrsjm9qtkbnuu94ufeic8tv</string>
	<key>API_KEY</key>
	<string>AIzaSyD6fLNU6aGpSxs-f7A6OT9DPC86CBcuymQ</string>
	<key>GCM_SENDER_ID</key>
	<string>441196816919</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vanotis720.chatty</string>
	<key>PROJECT_ID</key>
	<string>chatty-53435</string>
	<key>STORAGE_BUCKET</key>
	<string>chatty-53435.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:441196816919:ios:3dd441ef6ec1b6e89bca52</string>
</dict>
</plist>